    
{% comment %} Fixed footer {% endcomment %}

    {% if site.footer_fixed %}
    <footer class="fixed-bottom text-center">
      <div class="container mt-0" style="font-size: 0.82rem;">
        &copy; {{ site.time | date: '%Y' }} {{ site.first_name }} {{ site.middle_name }} {{ site.last_name }}   
        &thinsp; &#67871; &thinsp; <a href="https://www.silviofanzon.com/contact/">Contact</a> &thinsp; &#67871; &thinsp;
        Updated: {{ "now" | date: '%m/%Y' }}
      </div>
    </footer>
    {%- endif %}




{% comment %} Sticky footer {% endcomment %}


{% if site.footer_sticky %}


<footer class="sticky-bottom mt-5 text-center">
  <div class="container">

<div style="display:inline-block; text-align:left; margin-left:1rem;">
    <!-- Contact info block -->
      <a id="contact_info"><h4 style="margin-bottom: 1.9rem;"><b>Dr Silvio Fanzon</b></h4></a>
      <i class="fas fa-envelope" style="font-size: 1.1em;"></i> &nbsp;
      <a href="mailto:S.Fanzon@hull.ac.uk">S.Fanzon@hull.ac.uk</a>
      <br style="line-height: 1.3rem;"/>
      &nbsp;
      <br>    
      <i class="fas fa-map-marker-alt" style="font-size: 1.1em;"></i> &nbsp;
      <a href="https://www.google.com/maps/place/Robert+Blackburn+Building/@53.7714841,-0.3714448,17z/data=!3m1!4b1!4m6!3m5!1s0x4878bfafa031a209:0xf1a5ad60866496d1!8m2!3d53.7714841!4d-0.3688699!16s%2Fg%2F11r8k5b8x?entry=ttu&g_ep=EgoyMDI1MDkyMS4wIKXMDSoASAFQAw%3D%3D" target="_blank">
        Office 311C <br>
        Robert Blackburn Building <br>
        University of Hull <br>
        Hull HU6 7RX <br>
        United Kingdom
      </a>
      <br style="line-height: 1.3rem;"/>
      &nbsp;
      <br>  
      <i class="fas fa-briefcase" style="font-size: 1.1em;"></i> &nbsp;
      <a href="https://www.hull.ac.uk/staff-directory/silvio-fanzon">Homepage @ Hull</a>
      <br><br>
      
  

    <!-- Social icons -->
    <div class="social">
    <div class="contact-icons" style="font-size: 2.2em;">
      <a href="https://www.linkedin.com/in/{{ social[1] }}" title="LinkedIn" style="margin-right:0.25em;"><i class="fa-brands fa-linkedin"></i></a>
      <a href="https://scholar.google.com/citations?user={{ social[1] }}" title="Google Scholar" style="margin-right:0.25em;"><i class="ai ai-google-scholar-square"></i></a>
      <a href="https://www.researchgate.net/profile/{{ social[1] }}/" title="ResearchGate" style="margin-right:0.25em;"><i class="ai ai-researchgate-square"></i></a>
      <a href="https://orcid.org/{{ social[1] }}" title="ORCID" style="margin-right:0.25em;"><i class="ai ai-orcid"></i></a>
      <a href="https://arxiv.org/a/{{ social[1] }}" title="arXiv" style="margin-right:0.25em;"><i class="ai ai-arxiv-square"></i></a>
      <a href="https://github.com/{{ social[1] }}" title="GitHub"><i class="fa-brands fa-github"></i></a>
    </div>
    </div>


    <!-- Footer text -->
    <p style="font-size: 0.9em;">
      <br style="line-height: 1.6rem;"/>
      Copyright &copy; {{ site.time | date: '%Y' }} {{ site.first_name }} {{ site.middle_name }} {{ site.last_name }} 
      <br> 
      Built with <a href="https://jekyllrb.com/" target="_blank">Jekyll</a> &amp; custom <a href="https://github.com/alshedivat/al-folio">al-folio</a> theme
      <br> 
      Hosted on GitHub pages &#10048; Source on <a href="https://github.com/sfanzon/sfanzon.github.io">GitHub</a>
      <br>
      Last updated: {{ "now" | date: '%m/%Y' }}
    </p>  
  </div>
  </div>  
</footer>
















    {%- endif %}




{% comment %} Both Sticky and fixed footer {% endcomment %}

<!-- Small footer -->

    {% if site.footer_both_fixed_and_sticky %}
    <footer class="fixed-bottom text-center">
      <div class="container mt-0" style="font-size: 0.82rem;">
        &copy; {{ site.time | date: '%Y' }} {{ site.first_name }} {{ site.middle_name }} {{ site.last_name }}   
        &thinsp; &#67871; &thinsp; <a href="https://www.silviofanzon.com/contact/">Contact</a> &thinsp; &#67871; &thinsp;
        Updated: {{ "now" | date: '%m/%Y' }}
      </div>
    </footer>



<!-- Big footer-->

<footer class="sticky-bottom mt-5 text-center">
  <div class="container">


<div style="display:inline-block; text-align:left; margin-left:1rem;">
    <!-- Contact info block -->
      <a id="contact_info"><h4 style="margin-bottom: 1.9rem;"><b>Dr Silvio Fanzon</b></h4></a>
      <i class="fas fa-envelope" style="font-size: 1.1em;"></i> &nbsp;
      <a href="mailto:S.Fanzon@hull.ac.uk">S.Fanzon@hull.ac.uk</a>
      <br style="line-height: 1.3rem;"/>
      &nbsp;
      <br>    
      <i class="fas fa-map-marker-alt" style="font-size: 1.1em;"></i> &nbsp;
      <a href="https://www.google.com/maps/place/Robert+Blackburn+Building/@53.7714841,-0.3714448,17z/data=!3m1!4b1!4m6!3m5!1s0x4878bfafa031a209:0xf1a5ad60866496d1!8m2!3d53.7714841!4d-0.3688699!16s%2Fg%2F11r8k5b8x?entry=ttu&g_ep=EgoyMDI1MDkyMS4wIKXMDSoASAFQAw%3D%3D" target="_blank">
        Office 311C <br>
        Robert Blackburn Building <br>
        University of Hull <br>
        Hull HU6 7RX <br>
        United Kingdom
      </a>
      <br style="line-height: 1.3rem;"/>
      &nbsp;
      <br>  
      <i class="fas fa-briefcase" style="font-size: 1.1em;"></i> &nbsp;
      <a href="https://www.hull.ac.uk/staff-directory/silvio-fanzon">Homepage @ Hull</a>
      <br><br>
      
  

    <!-- Social icons -->
    <div class="social">
    <div class="contact-icons" style="font-size: 2.2em;">
      <a href="https://www.linkedin.com/in/{{ social[1] }}" title="LinkedIn" style="margin-right:0.25em;"><i class="fa-brands fa-linkedin"></i></a>
      <a href="https://scholar.google.com/citations?user={{ social[1] }}" title="Google Scholar" style="margin-right:0.25em;"><i class="ai ai-google-scholar-square"></i></a>
      <a href="https://www.researchgate.net/profile/{{ social[1] }}/" title="ResearchGate" style="margin-right:0.25em;"><i class="ai ai-researchgate-square"></i></a>
      <a href="https://orcid.org/{{ social[1] }}" title="ORCID" style="margin-right:0.25em;"><i class="ai ai-orcid"></i></a>
      <a href="https://arxiv.org/a/{{ social[1] }}" title="arXiv" style="margin-right:0.25em;"><i class="ai ai-arxiv-square"></i></a>
      <a href="https://github.com/{{ social[1] }}" title="GitHub"><i class="fa-brands fa-github"></i></a>
</div>
    </div>




    <!-- Footer text -->
    <p style="font-size: 0.9em;">
      <br style="line-height: 1.6rem;"/>
      Copyright &copy; {{ site.time | date: '%Y' }} {{ site.first_name }} {{ site.middle_name }} {{ site.last_name }} 
      <br> 
      Built with <a href="https://jekyllrb.com/" target="_blank">Jekyll</a> &amp; custom <a href="https://github.com/alshedivat/al-folio">al-folio</a> theme
      <br> 
      Hosted on GitHub pages &#10048; Source on <a href="https://github.com/sfanzon/sfanzon.github.io">GitHub</a>
    </p>  
  </div>
  </div>  
</footer>




    {%- endif %}