    
{% comment %} Fixed footer {% endcomment %}

    {% if site.footer_fixed %}
    <footer class="fixed-bottom text-center">
      <div class="container mt-0" style="font-size: 0.82rem;">
        &copy; {{ site.time | date: '%Y' }} {{ site.first_name }} {{ site.middle_name }} {{ site.last_name }}   
        &thinsp; &#67871; &thinsp; <a href="https://www.silviofanzon.com/contact/">Contact</a> &thinsp; &#67871; &thinsp;
        Updated: {{ "now" | date: '%m/%Y' }}
      </div>
    </footer>
    {%- endif %}




{% comment %} Sticky footer {% endcomment %}


{% if site.footer_sticky %}


<footer class="sticky-bottom mt-5">
  <div class="container" style="max-width:960px; margin:0 auto;">
    <div style="display:flex; flex-wrap:wrap; gap:2rem; text-align:left;">

      <!-- Left column: Contact + icons + footer text -->
      <div style="flex:1; min-width:280px;">
        <!-- Contact info block -->
        <a id="contact_info"><h4 style="margin-bottom: 1.9rem;"><b>Dr Silvio Fanzon FHEA</b></h4></a>
        <i class="fas fa-envelope" style="font-size: 1.1em;"></i> &nbsp;
        <a href="mailto:S.Fanzon@hull.ac.uk">S.Fanzon@hull.ac.uk</a>
        <br style="line-height: 1.3rem;"/>
        &nbsp;
        <br>    
        <i class="fas fa-map-marker-alt" style="font-size: 1.1em;"></i> &nbsp;
        <a href="https://www.google.com/maps/place/Robert+Blackburn+Building/@53.7714841,-0.3714448,17z" target="_blank">
          Office 311C <br>
          Robert Blackburn Building <br>
          University of Hull <br>
          Hull HU6 7RX <br>
          United Kingdom
        </a>
        <br style="line-height: 1.3rem;"/>
        &nbsp;
        <br>  
        <i class="fas fa-briefcase" style="font-size: 1.1em;"></i> &nbsp;
        <a href="https://www.hull.ac.uk/staff-directory/silvio-fanzon">Homepage @ Hull</a>
        <br>

       <!-- Social icons -->
        <div class="social">
          <div class="contact-icons" style="font-size: 2.2em; text-align:left; margin-top:0.8rem;">
            <a href="https://www.linkedin.com/in/{{ site.data.socials.linkedin_username }}" title="LinkedIn" style="margin-right:0.25em;"><i class="fa-brands fa-linkedin"></i></a>
            <a href="https://scholar.google.com/citations?user={{ site.data.socials.scholar_userid }}" title="Google Scholar" style="margin-right:0.25em;"><i class="ai ai-google-scholar-square"></i></a>
            <a href="https://www.researchgate.net/profile/{{ site.data.socials.research_gate_profile }}/" title="ResearchGate" style="margin-right:0.25em;"><i class="ai ai-researchgate-square"></i></a>
            <a href="https://orcid.org/{{ site.data.socials.orcid_id }}" title="ORCID" style="margin-right:0.25em;"><i class="ai ai-orcid"></i></a>
            <a href="https://arxiv.org/a/{{ site.data.socials.arxiv_username }}" title="arXiv" style="margin-right:0.25em;"><i class="ai ai-arxiv-square"></i></a>
            <a href="https://github.com/{{ site.data.socials.github_username }}" title="GitHub"><i class="fa-brands fa-github"></i></a>
          </div>
        </div>

        <!-- Footer text -->
        <p style="font-size: 0.9em; margin-top:0.8rem;">
          Copyright &copy; {{ site.time | date: '%Y' }} {{ site.first_name }} {{ site.middle_name }} {{ site.last_name }} 
          <br> 
          Built with <a href="https://jekyllrb.com/" target="_blank">Jekyll</a> &amp; custom <a href="https://github.com/alshedivat/al-folio">al-folio</a> theme
          <br> 
          Hosted on GitHub pages &#10048; Source on <a href="https://github.com/sfanzon/sfanzon.github.io">GitHub</a>
          <br>
          Last updated: {{ "now" | date: '%m/%Y' }}
        </p>  
      </div>

      <!-- Right column: Map -->
      <div style="flex:1; min-width:280px; display:flex; justify-content:flex-start; align-items:flex-start;">
        <iframe 
          src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2358.011416469691!2d-0.3714448!3d53.7714841!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4878bfaf9f89a781%3A0xf1623fd4c5175579!2sRobert%20Blackburn%2C%20Hull%20HU6%207RU!5e0!3m2!1sen!2suk!4v1758836725201!5m2!1sen!2suk" 
          width="350" 
          height="350" 
          style="border:0; border-radius:12px; filter: grayscale(100%);" 
          allowfullscreen="" 
          loading="lazy" 
          referrerpolicy="no-referrer-when-downgrade">
        </iframe>
      </div>

    </div>
  </div>
</footer>
    
    
    
      
    
    


{%- endif %}








{% comment %} Both Sticky and fixed footer {% endcomment %}

<!-- Small footer -->

    {% if site.footer_both_fixed_and_sticky %}
    <footer class="fixed-bottom text-center">
      <div class="container mt-0" style="font-size: 0.82rem;">
        &copy; {{ site.time | date: '%Y' }} {{ site.first_name }} {{ site.middle_name }} {{ site.last_name }}   
        &thinsp; &#67871; &thinsp; <a href="https://www.silviofanzon.com/contact/">Contact</a> &thinsp; &#67871; &thinsp;
        Updated: {{ "now" | date: '%m/%Y' }}
      </div>
    </footer>



<!-- Big footer-->

<footer class="sticky-bottom mt-5">
  <div class="container" style="max-width:960px; margin:0 auto;">
    <div style="display:flex; flex-wrap:wrap; gap:2rem; text-align:left;">

      <!-- Left column: Contact + icons + footer text -->
      <div style="flex:1; min-width:280px;">
        <!-- Contact info block -->
        <a id="contact_info"><h4 style="margin-bottom: 1.9rem;"><b>Dr Silvio Fanzon FHEA</b></h4></a>
        <i class="fas fa-envelope" style="font-size: 1.1em;"></i> &nbsp;
        <a href="mailto:S.Fanzon@hull.ac.uk">S.Fanzon@hull.ac.uk</a>
        <br style="line-height: 1.3rem;"/>
        &nbsp;
        <br>    
        <i class="fas fa-map-marker-alt" style="font-size: 1.1em;"></i> &nbsp;
        <a href="https://www.google.com/maps/place/Robert+Blackburn+Building/@53.7714841,-0.3714448,17z" target="_blank">
          Office 311C <br>
          Robert Blackburn Building <br>
          University of Hull <br>
          Hull HU6 7RX <br>
          United Kingdom
        </a>
        <br style="line-height: 1.3rem;"/>
        &nbsp;
        <br>  
        <i class="fas fa-briefcase" style="font-size: 1.1em;"></i> &nbsp;
        <a href="https://www.hull.ac.uk/staff-directory/silvio-fanzon">Homepage @ Hull</a>
        <br>

        <!-- Social icons -->
        <div class="social">
          <div class="contact-icons" style="font-size: 2.2em; text-align:left; margin-top:0.8rem;">
            <a href="https://www.linkedin.com/in/{{ site.data.socials.linkedin_username }}" title="LinkedIn" style="margin-right:0.25em;"><i class="fa-brands fa-linkedin"></i></a>
            <a href="https://scholar.google.com/citations?user={{ site.data.socials.scholar_userid }}" title="Google Scholar" style="margin-right:0.25em;"><i class="ai ai-google-scholar-square"></i></a>
            <a href="https://www.researchgate.net/profile/{{ site.data.socials.research_gate_profile }}/" title="ResearchGate" style="margin-right:0.25em;"><i class="ai ai-researchgate-square"></i></a>
            <a href="https://orcid.org/{{ site.data.socials.orcid_id }}" title="ORCID" style="margin-right:0.25em;"><i class="ai ai-orcid"></i></a>
            <a href="https://arxiv.org/a/{{ site.data.socials.arxiv_username }}" title="arXiv" style="margin-right:0.25em;"><i class="ai ai-arxiv-square"></i></a>
            <a href="https://github.com/{{ site.data.socials.github_username }}" title="GitHub"><i class="fa-brands fa-github"></i></a>
          </div>
        </div>

        <!-- Footer text -->
        <p style="font-size: 0.9em; margin-top:0.8rem;">
          Copyright &copy; {{ site.time | date: '%Y' }} {{ site.first_name }} {{ site.middle_name }} {{ site.last_name }} 
          <br> 
          Built with <a href="https://jekyllrb.com/" target="_blank">Jekyll</a> &amp; custom <a href="https://github.com/alshedivat/al-folio">al-folio</a> theme
          <br> 
          Hosted on GitHub pages &#10048; Source on <a href="https://github.com/sfanzon/sfanzon.github.io">GitHub</a>
        </p>  
      </div>

      <!-- Right column: Map -->
      <div style="flex:1; min-width:280px; display:flex; justify-content:flex-start; align-items:flex-start;">
        <iframe 
          src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2358.011416469691!2d-0.3714448!3d53.7714841!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4878bfaf9f89a781%3A0xf1623fd4c5175579!2sRobert%20Blackburn%2C%20Hull%20HU6%207RU!5e0!3m2!1sen!2suk!4v1758836725201!5m2!1sen!2suk" 
          width="350" 
          height="350" 
          style="border:0; border-radius:12px; filter: grayscale(100%);" 
          allowfullscreen="" 
          loading="lazy" 
          referrerpolicy="no-referrer-when-downgrade">
        </iframe>
      </div>

    </div>
  </div>
</footer>



{%- endif %}