---
layout: default
---




{% comment %}
<!-- Old profile with photo layout homepage -->

<div class="post">
  <header class="post-header">
    <h1 class="post-title">
     {% if site.title == "blank" -%} 
     <span class="font-weight-bold">
       {{ site.first_name }} {{ site.middle_name }} {{ site.last_name }}
     </span>  
     {%- else -%}  
       <span class="font-weight-bold"> 
     {{ site.title }} 
     </span> 
     {%- endif %} 
    </h1>
    <p class="desc">{{ page.subtitle }}</p>
  </header>

  <article>
    {% if page.profile %}
    <div class="profile float-{% if page.profile.align == 'left' %}left{% else %}right{% endif %}" style="{% if page.profile.align == 'left' %}margin-right:2rem;{% else %}margin-left:2rem;{% endif %}">
        {% if page.profile.image %}
          {% assign profile_image_path = page.profile.image | prepend: 'assets/img/' %}
          {% if page.profile.image_circular %}
            {% assign profile_image_class = 'img-fluid z-depth-1 rounded-circle' %}
          {% else %}
            {% assign profile_image_class = 'img-fluid z-depth-1
      rounded' %}
          {% endif %}
          {% capture sizes %}(min-width: {{ site.max_width }}) {{ site.max_width | minus: 30 | times: 0.3}}px, (min-width: 576px)
      30vw, 95vw"{% endcapture %}
          {%
            include figure.liquid loading="eager" path=profile_image_path class=profile_image_class sizes=sizes alt=page.profile.image
            cache_bust=true
          %}
        {% endif %}
        {% if page.profile.social_icons_contact %}
              <div class="social">
              <div class="contact-icons" style="font-size: 1.5em; text-align:center; margin-top:0.8rem;">
              <a href="mailto:S.Fanzon@hull.ac.uk" title="email"><i class="fas fa-envelope" style="margin-right:0.25em;"></i></a>
              <a href="https://www.google.com/maps/place/Robert+Blackburn+Building/@53.7714841,-0.3714448,17z" target="_blank" title="address" style="margin-right:0.25em;"><i class="fas fa-map-marker-alt"></i></a>
              <a href="https://www.hull.ac.uk/staff-directory/silvio-fanzon" title="workpage" style="margin-right:0.25em;"><i class="fas fa-briefcase"></i></a>
              <a href="https://www.linkedin.com/in/{{ site.data.socials.linkedin_username }}" title="LinkedIn" style="margin-right:0.25em;"><i class="fa-brands fa-linkedin"></i></a>
              <a href="https://scholar.google.com/citations?user={{ site.data.socials.scholar_userid }}" title="Google Scholar" style="margin-right:0.25em;"><i class="ai ai-google-scholar-square"></i></a>
              <a href="https://www.researchgate.net/profile/{{ site.data.socials.research_gate_profile }}/" title="ResearchGate" style="margin-right:0.25em;"><i class="ai ai-researchgate-square"></i></a>
              <a href="https://orcid.org/{{ site.data.socials.orcid_id }}" title="ORCID" style="margin-right:0.25em;"><i class="ai ai-orcid-square"></i></a>
              <!-- <a href="https://arxiv.org/a/{{ site.data.socials.arxiv_username }}" title="arXiv" style="margin-right:0.25em;"><i class="ai ai-arxiv-square"></i></a> -->
              <a href="https://github.com/{{ site.data.socials.github_username }}" title="GitHub"><i class="fa-brands fa-github"></i></a>
             </div>
             </div>
        {% endif %}
        {% if page.profile.more_info %}
          <div class="more-info">{{ page.profile.more_info }}</div>
        {% endif %}
      </div>
    {% endif %}

    <div class="clearfix">{{ content }}</div>

{% endcomment %}





  <article class="profile-layout">
  <div class="profile-box">
    {% if page.profile.image %}
      <img src="assets/img/{{ page.profile.image }}" 
           alt="{{ page.profile.name }}" 
           class="profile-box-photo">
    {% endif %}

    <h2 class="profile-box-name">
      {% if site.title == "blank" -%} 
        {{ site.first_name }} {{ site.middle_name }} {{ site.last_name }}
      {%- else -%}  
        {{ site.title }} 
      {%- endif %} 
    </h2>

    {% if page.subtitle %}
      <p class="profile-box-role">{{ page.subtitle }}</p>
    {% endif %}

    {% if page.profile.social_icons_contact %}
    <div class="profile-box-social-icons">
              <a href="mailto:S.Fanzon@hull.ac.uk" title="email"><i class="fas fa-envelope"></i></a>
              <a href="https://www.google.com/maps/place/Robert+Blackburn+Building/@53.7714841,-0.3714448,17z" target="_blank" title="address"><i class="fas fa-map-marker-alt"></i></a>
              <a href="https://www.hull.ac.uk/staff-directory/silvio-fanzon" title="workpage"><i class="fas fa-briefcase"></i></a>
              <a href="https://www.linkedin.com/in/{{ site.data.socials.linkedin_username }}" title="LinkedIn"><i class="fa-brands fa-linkedin"></i></a>
              <a href="https://scholar.google.com/citations?user={{ site.data.socials.scholar_userid }}" title="Google Scholar"><i class="ai ai-google-scholar-square"></i></a>
              <a href="https://www.researchgate.net/profile/{{ site.data.socials.research_gate_profile }}/" title="ResearchGate"><i class="ai ai-researchgate-square"></i></a>
              <a href="https://orcid.org/{{ site.data.socials.orcid_id }}" title="ORCID"><i class="ai ai-orcid-square"></i></a>
              <!-- <a href="https://arxiv.org/a/{{ site.data.socials.arxiv_username }}" title="arXiv"><i class="ai ai-arxiv-square"></i></a> -->
              <!-- <a href="https://github.com/{{ site.data.socials.github_username }}" title="GitHub"><i class="fa-brands fa-github"></i></a> -->
    </div>
    {% endif %}

    {% if page.profile.more_info %}
      <div class="profile-box-more-info">{{ page.profile.more_info }}</div>
    {% endif %}
  </div>

  <div class="clearfix">{{ content }}</div>
</article>



    <hr style="margin-top: 2.5rem;">

    <!-- News -->
    {% if page.announcements and page.announcements.enabled %}
    <h3 style="margin-bottom: 1rem; margin-top: 2.5rem;">
    <b>
    <a href="{{ '/news/' | relative_url }}" style="color: inherit;">
    News
    </a>
    </b>
    </h3>
      {% include news.liquid limit=true %}
     <p> 
       <a href="{{ '/news/' | relative_url }}"><b>past news</b></a>
    </p>
    {% endif %}


    <hr style="margin-top: 2.5rem;">


    <!-- Upcoming events-->
      {% if page.future_announcements and page.future_announcements.enabled -%}
      <h3 style="margin-bottom: 1rem; margin-top: 2.5rem;">
      <b>
        Upcoming Events
      </b>
      </h3>
       {%- include next.liquid %}
      {%- endif %}
     

    <hr style="margin-top: 1.6rem;">


    <!-- Selected papers -->
      {% if page.selected_papers -%}
      <h3 style="margin-bottom: 1rem; margin-top: 2.5rem;">
      <b>
      Selected Publications
      </b>
      </h3>
        {%- include selected_papers.liquid %}
      <p>
      <b><a href="{{ '/publications/' | relative_url }}">
      all publications
      </a></b>
      </p> 
      {%- endif %}


    <hr style="margin-top: 2.5rem;">

    
    <!-- Current teaching -->
      {% if page.current_teaching -%}
         <h3 style="margin-bottom: 1rem; margin-top: 2.5rem;"><b>
         Current Teaching
         </b></h3>
         {% if page.current_courses -%}
            {%- include current_teaching.liquid %}
            <p>
            <a href="{{ '/teaching/' | relative_url }}"><b>
            past teaching
            </b></a> 
            </p>
            {% else %}
            <p markdown="1" style="margin-bottom: 1.3rem; margin-top: 1.7rem;">
            No teaching for this term :sunglasses:
            </p>
            <p>
            <a href="{{ '/teaching/' | relative_url }}"><b>
            past teaching
            </b></a> 
            </p>
          {%- endif %}
      {%- endif %}

    
    
    <hr style="margin-top: 2.5rem;">


    <h3 style="margin-bottom: 1rem; margin-top: 2.5rem;"><b>
    Useful Links
    </b></h3>
    <p>
    <ul style="padding-left: 1.2em;">
    <li><a href="https://cvgmt.sns.it/#gsc.tab=0"><b>CVGMT</b></a> (Calculus of Variations and Geometric Measure Theory)</li>
    <li><a href="https://primomath.wordpress.com"><b>PRIMO Research Group</b></a></li>
    <li><a href="https://www.ipia.site/Home/"><b>IPIA</b></a> (Inverse Problems International Association)</li>
    <li><a href="http://www.fips.fi"><b>FIPS</b></a> (Finnish Inverse Problems Society)</li>
    <li><a href="https://www.gamm-ev.de/en/"><b>GAMM</b></a> (Association of Applied Mathematics and Mechanics)</li>
    <li><a href="https://sites.google.com/view/minds-seminar/home"><b>One World MINDS</b></a> (Seminar Series on Mathematics of INformation, Data, and Signals)</li>
    </ul>  
    </p>




    <!-- Latest posts: I never used this. If you want to use it, adapt it to look like the above sections -->
    {% if page.latest_posts and page.latest_posts.enabled %}
      <h2>
        <a href="{{ '/blog/' | relative_url }}" style="color: inherit">latest posts</a>
      </h2>
      {% include latest_posts.liquid %}
    {% endif %}



{%comment%}
The following is code from the original template to include social icons 
at the bottom of the page. I have already included them in the footer 

    <!-- Social -->
    {% if page.social %}
      <div class="social">
        <div class="contact-icons">{% include social.liquid %}</div>

        <div class="contact-note">{{ site.contact_note }}</div>
      </div>
    {% endif %}

    {% if site.newsletter and site.newsletter.enabled and site.footer_fixed %}
      {% include newsletter.liquid center=true %}
    {% endif %}
  
{%endcomment%}


</article>
</div>

